{% extends 'main/base.html' %}

{% block title %}купить{% endblock %}

{% block content %}
<div class="app-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="page-description text-center">
                                    <h1>Премиум Планы</h1>
                                    <span>Студенческие и учебные лицензи оформляются бесплатно. Свяжитесь с нами: main@fra1l.ru</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12 col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10 mx-auto">
                                <div class="row">
                                    <div class="col-12 col-xl-4">
                                        <div class="card pricing-basic">
                                            <div class="card-body">
                                                <h3 class="plan-title">Standard</h3>
                                                <div class="plan-price">
                                                    <span class="plan-price-value">49р</span>
                                                    <span class="plan-price-period">/ месяц</span>
                                                </div>
                                                <span class="plan-description">Набор для небольшой компании.</span>
                                                <ul class="plan-list">
                                                    <li>Загрузка до 10 моделей</li>
                                                    <li>1000 просмотров</li>
                                                    <li>24/7 Поддержка</li>
                                                </ul>
                                                <div class="m-t-md d-grid">
                                                    <a href="https://t.me/m_shafiev" class="btn btn-secondary btn-lg" type="button">Купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4">
                                        <div class="card pricing-basic pricing-selected">
                                            <div class="card-body">
                                                <h3 class="plan-title">Premium<span class="badge badge-info badge-style-light">Popular</span></h3>
                                                <div class="plan-price">
                                                    <span class="plan-price-value">249р</span>
                                                    <span class="plan-price-period">/ месяц</span>
                                                </div>
                                                <span class="plan-description">Подойдет для средних компаний и частных выставок.</span>
                                                <ul class="plan-list">
                                                    <li>Загрузка до 25 моделей</li>
                                                    <li>Неограниченные просмотры</li>
                                                    <li>Онлайн редактор f-edit</li>
                                                    <li>Приватная Поддержка</li>
                                                </ul>
                                                <div class="m-t-md d-grid">
                                                    <a href="https://t.me/m_shafiev" class="btn btn-primary btn-lg" type="button">Купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4">
                                        <div class="card pricing-basic">
                                            <div class="card-body">
                                                <h3 class="plan-title">Enterprise</h3>
                                                <div class="plan-price">
                                                    <span class="plan-price-value">999р</span>
                                                    <span class="plan-price-period">/ месяц</span>
                                                </div>
                                                <span class="plan-description">Подойдет для крупных компаний или выставок.</span>
                                                <ul class="plan-list">
                                                    <li>Загрузка до 50 моделей</li>
                                                    <li>Неограниченные просмотры</li>
                                                    <li>Онлайн редактор f-edit</li>
                                                    <li>Интеграция на ваш сайт</li>
                                                    <li>Приватная Поддержка</li>
                                                </ul>
                                                <div class="m-t-md d-grid">
                                                    <a href="https://t.me/m_shafiev" class="btn btn-secondary btn-lg" type="button">Купить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}