{% extends 'main/base.html' %}

{% block title %}работы{% endblock %}

{% block content %}
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
<div class="app-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="page-description">
                                    <h1>Ваши работы</h1>
                                    <span>Список работающих страниц</span>
                                </div>
                            </div>
                        </div>

                        {% for card in cards %}

                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">Карточка {{ forloop.counter }}</h5>
                                    </div>
                                    <div class="card-body">

                                        <div class="example-container">
                                            <div class="example-content bg-light">
                                                <div class="page-description page-description-tabbed">
                                                    <h1>{{ card.project_name }}</h1>
                                                    <br>
                                                    <div class="alert alert-custom" role="alert">
                                                        <div class="alert-content">
                                                            <span class="alert-title">Описание:</span>
                                                            <span class="alert-text">{{ card.description }}</span>
                                                        </div>
                                                    </div>

                                                    <div class="alert alert-custom" role="alert">
                                                        <div class="alert-content">
                                                             <span class="alert-title">Ссылка на проект:</span>

                                                             <a href="{% url 'place_ar_view' username=user_name projectname=card.project_name %}">{{ domain }}{% url 'place_ar_view' username=user_name projectname=card.project_name %}</a>
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#stat{{ forloop.counter }}" type="button" role="tab" aria-controls="home" aria-selected="true">Аналитика</button>

                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#preview{{ forloop.counter }}" type="button" role="tab" aria-controls="profile" aria-selected="false">Превью</button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#edit{{ forloop.counter }}" type="button" role="tab" aria-controls="contact" aria-selected="false">Править</button>
                                                        </li>

                                                    </ul>

                                                     <div class="tab-content">
                                                        <div class="tab-pane fade show active" id="stat{{ forloop.counter }}" role="tabpanel" aria-labelledby="home-tab">

                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">#</th>
                                                                        <th scope="col">просмотров</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="table-light">
                                                                        <th scope="row">Осталось</th>
                                                                        <td><h6>{{ card.remaining_displays }}</h6></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Сегодня</th>
                                                                        <td><h6>{{ card.displays_today }}</h6></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">За неделю</th>
                                                                        <td class="col-sm-9"><h6>{{ card.displays_this_week }}</h6></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">За все время</th>
                                                                        <td><h6>{{ card.displays_all_time }}</h6></td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane fade" id="preview{{ forloop.counter }}" role="tabpanel" aria-labelledby="profile-tab">
                                                            <model-viewer src="../../static/projects/{{ user_name }}/{{ card.project_name }}/model.glb" alt="3D-model" auto-rotate camera-controls ar environment- style="width: 100%; height: 300px;"></model-viewer>

                                                        </div>
                                                        <div class="tab-pane fade" id="edit{{ forloop.counter }}" role="tabpanel" aria-labelledby="contact-tab">

                                                            <div class="input-group mb-3">
                                                                <input type="text" id="nameInput{{ forloop.counter }}" class="form-control" placeholder="Введите новое название">
                                                            </div>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary flex-grow-1 m-l-xxs" type="button" id="nameChangeButton{{ forloop.counter }}">Изменить</button>
                                                            </div>
                                                            <br>
                                                                <script>
                                                                    document.getElementById('nameChangeButton{{ forloop.counter }}').addEventListener('click', function() {
                                                                        // Получение введенного текста из текстового поля
                                                                        var nameValue = document.getElementById('nameInput{{ forloop.counter }}').value;

                                                                        // Отправка POST-запроса на сервер для изменения текста
                                                                        fetch('/change-name/{{ card.unique }}', {
                                                                            method: 'POST',
                                                                            headers: {
                                                                                'Content-Type': 'application/x-www-form-urlencoded',
                                                                                'X-CSRFToken': getCookie('csrftoken')
                                                                            },
                                                                            body: 'text=' + encodeURIComponent(nameValue)
                                                                        })
                                                                        .then(response => response.json())
                                                                        .then(data => {
                                                                            // Обработка данных, если необходимо
                                                                            console.log(data);
                                                                        })
                                                                        .catch(error => console.error('Ошибка:', error));
                                                                    });

                                                                    // Функция для получения значения CSRF-токена из cookie
                                                                    function getCookie(name) {
                                                                        var cookieValue = null;
                                                                        if (document.cookie && document.cookie !== '') {
                                                                            var cookies = document.cookie.split(';');
                                                                            for (var i = 0; i < cookies.length; i++) {
                                                                                var cookie = cookies[i].trim();
                                                                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                                                    break;
                                                                                }
                                                                            }
                                                                        }
                                                                        return cookieValue;
                                                                    }
                                                                </script>

                                                            <div class="input-group mb-3">
                                                                <input type="text" id="descriptionInput{{ forloop.counter }}" class="form-control" placeholder="Введите новое описание">
                                                            </div>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary flex-grow-1 m-l-xxs" type="button" id="descriptionChangeButton{{ forloop.counter }}">Изменить</button>
                                                            </div>
                                                            <br>
                                                                <script>
                                                                    document.getElementById('descriptionChangeButton{{ forloop.counter }}').addEventListener('click', function() {
                                                                        // Получение введенного текста из текстового поля
                                                                        var descriptionValue = document.getElementById('descriptionInput{{ forloop.counter }}').value;

                                                                        // Отправка POST-запроса на сервер для изменения текста
                                                                        fetch('/change-description/{{ card.unique }}', {
                                                                            method: 'POST',
                                                                            headers: {
                                                                                'Content-Type': 'application/x-www-form-urlencoded',
                                                                                'X-CSRFToken': getCookie('csrftoken')
                                                                            },
                                                                            body: 'text=' + encodeURIComponent(nameValue)
                                                                        })
                                                                        .then(response => response.json())
                                                                        .then(data => {
                                                                            // Обработка данных, если необходимо
                                                                            console.log(data);
                                                                        })
                                                                        .catch(error => console.error('Ошибка:', error));
                                                                    });

                                                                    // Функция для получения значения CSRF-токена из cookie
                                                                    function getCookie(name) {
                                                                        var cookieValue = null;
                                                                        if (document.cookie && document.cookie !== '') {
                                                                            var cookies = document.cookie.split(';');
                                                                            for (var i = 0; i < cookies.length; i++) {
                                                                                var cookie = cookies[i].trim();
                                                                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                                                    break;
                                                                                }
                                                                            }
                                                                        }
                                                                        return cookieValue;
                                                                    }
                                                                </script>


                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
{% endblock %}