<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>F-AR</title>
        <link rel="shortcut icon" href="static/assets/images/neptune.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="static/un_login_assets/images/fav.jpg">
        <link rel="stylesheet" href="static/un_login_assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="static/un_login_assets/css/style.css" />

         <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
    <link href="static/assets/plugins/pace/pace.css" rel="stylesheet">


    <!-- Theme Styles -->
    <link href="static/assets/css/main.min.css" rel="stylesheet">
    <link href="static/assets/css/custom.css" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/images/neptune.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/images/neptune.png" />
    </head>
    <body>
        <div class="header  bg-white">
            <div id="menu-jk" class="nav-col bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 pt-2 pb-2 align-items-center">
                            <img class="max-230 mt-1" src="static/un_login_assets/images/F-logo.svg" alt="">
                            <a  data-bs-toggle="collapse" data-bs-target="#menu" class="float-end text-white d-lg-none pt-1 ps-3"><i class="bi pt-1 fs-1 cp bi-list"></i></a>
                        </div>
                        <div id="menu" class="col-lg-9 d-none d-lg-block">
                            <ul class="float-end mul d-inline-block text-white">
                                <li class="float-md-start p-4"><a href="https://fra1l.ru">fra1l</a></li>
                                <li class="float-md-start p-4"><a href="{% url 'login' %}">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-conten big-padding bg-primary">
            <div class="container py-3">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <h1 class="fs-11 dfr text-white fw-bold">F-AR Service New Reality </h1>
                        <p class="fs-8 text-white mt-5">Explore the world of augmented reality effortlessly with our user-friendly service. Transform your browser into a gateway for immersive experiences. Just upload the model you want to showcase, and let the magic unfold. Elevate your content, engage your audience, and step into the future of interactive storytelling. Get started today and bring your ideas to life in the exciting realm of augmented reality!</p>
                        <div class=" d-inline-block pt-5">
                            <a href="{% url 'login' %}" class="btn btn-light shadow-md p-3 px-5 fs-7 fw-bold">Login</a>
                            <a href="{% url 'register' %}" class="btn btn-outline-light ms-3 fs-7 shadow-md p-3 px-5 fw-bold">Try Now</a>
                        </div>
                        <br><br><br><br><br><br><br>
                    </div>
                    <div class="col-md-6 pt-4">
                        <img class="w-100" src="static/un_login_assets/images/decktop.png" alt="">

                    </div>
                </div>
            </div>
        </div>

        <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
        <div class="row">

                            <div class="card widget widget-info">
                                <div class="card-body">
                                        <div class="widget-info-container">
                                            <h5 class="widget-info-title">You can easily do it yourself</h5>
                                        </div>
                                    </div>
                                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>

                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <div style="display: flex;justify-content: center;align-items: center;">
                                                <model-viewer src="/static/assets/models/1.glb" alt="3D-model" auto-rotate camera-controls ar environment- style="width: 80%; height: 300px;"></model-viewer>
                                            </div>
                                        </div>

                                        <div class="carousel-item " data-bs-interval="10000">
                                            <div style="display: flex;justify-content: center;align-items: center;">
                                                <model-viewer src="/static/assets/models/3.glb" alt="3D-model" auto-rotate camera-controls ar environment- style="width: 80%; height: 300px;"></model-viewer>
                                            </div>
                                            <div class="card-body">

                                            </div>
                                        </div>

                                    </div>

                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <br><br>
                            </div>
                        </div>


    <div class="features big-padding container-fluid bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-5 p-4">
                    <img class="w-75 bg-white p-2" src="static/un_login_assets/images/stat.svg" alt="">
                </div>
                <div class="col-md-7 align-self-center">
                     <div class="row border-center">
                         <div class="col-md-3 text-center">
                             <strong class="fs-11 text-primary fw-bolder">732</strong>
                         </div>
                         <div class="col-md-9 ps-0 pt-4 align-items-center">
                             <p class="fs-6 pt-2"><b>Happy Clients</b> </p>
                         </div>
                         
                     </div>
                     <div class="row border-center">
                         <div class="col-md-3 text-center">
                             <strong class="fs-11 text-primary fw-bolder">1974</strong>
                         </div>
                         <div class="col-md-9 ps-0 pt-4 align-items-center">
                             <p class="fs-6 pt-2"><b>Projects</b> </p>
                         </div>
                         
                     </div>
                     <div class="row">
                         <div class="col-md-3 text-center">
                             <strong class="fs-11 text-primary fw-bolder">131</strong>
                         </div>
                         <div class="col-md-9 ps-0 pt-4 align-items-center">
                             <p class="fs-6 pt-2"><b>Premium Users</b> </p>
                         </div>
                         
                     </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="copy">
        <div class="container">
            <a href="https://fra1l.ru">2024 &copy; All Rights Reserved | Designed and Developed by fra1l.ru</a>
        </div>
    </div>
    </body>
    <script src="static/un_login_assets/js/jquery-3.2.1.min.js"></script>

    <script src="static/un_login_assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/un_login_assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="static/un_login_assets/plugins/testimonial/js/owl.carousel.min.js"></script>
    <script src="static/un_login_assets/js/script.js"></script>

</html>